@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.brand{
  width: 250px;
  margin-left: 50px;
}
header {
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  height: 90px;
  box-shadow: 0 0 40px #cecece;
  z-index: 2;
}
.home-page, .about-page{
  display: inline-block;
  text-align: center;
  height: 90px;
  width: 70px;
}
.products-page, .services-page{
  display: inline-block;
  text-align: center;
  height: 90px;
  width: 90px;
}
.contact-page {
  display: inline-block;
  text-align: center;
  height: 90px;
  width: 110px;
}
.home-page a, .about-page a, .products-page a, .services-page a, .contact-page a{
  margin-top: 34px;
  margin-bottom: auto;
}
.pages {
  width: auto;
  font-weight: 450;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 100px;
}
.pages a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
.pages a:hover{
  color: #ff0077;
}
.banner {
  width: 100%;
  height: 600px;
  margin-top: 80px;
  object-fit: cover;
}
#our-services{
  text-align: center;
}
.sub-title{
  margin-top: 60px;
  text-align: center;
  color: #1A2138;
  font-size: 32px;
}
.column {
  display:inline-block;
  padding: 30px;
  width: 18%;
  height: 250px;
  vertical-align: middle;
}
.column a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
.column a:hover svg{
  transform: matrix3d(1.176,-0.17,0.00,0,0.17,1.176,0.00,0,0,0,1,0,0,0,0,1);
  -webkit-transform: matrix3d(1.176,-0.17,0.00,0,0.17,1.176,0.00,0,0,0,1,0,0,0,0,1);   
  transform-origin: center center 0px; 
  transition: all 0.5s ease 0s;
  -webkit-transform-origin: center center 0px; 
  -webkit-transition: all 0.5s ease 0s;
}
.service-ico{
  fill: #ff0077;
  width: 60px;
  margin: auto;
}
.service-name{
  text-align: center;
  font-weight: 600;
  color: #ff0077;
}
.service-description{
  text-align: center;
  width: 100%;
  color: #858585;
}
#description {
  width: 100%;
  height: 250px;
  background-color: #07f;
}
.desc-logo{
  width: 200px;
  height: 60px;
  margin-left: 100px;
  margin-top: 20px;
}
.desc-text{
  color: #fff;
  margin: 0 100px 0 100px;
  font-size: large;
}
#products{
  margin-top: 5em;
  text-align: center;
}
.product-column {
  display:inline-block;
  margin-left: 20px;
  width: 10em;
  height: 20em;
  border: 1px solid #fff;
}
.product-column a{
  color: inherit;
  text-decoration: none;
}
.product-column:hover{
  border: 1px solid #cecece;
  border-radius: 10px;
  transform: matrix3d(1.2,0,0.00,0,0.00,1.2,0.00,0,0,0,1,0,0,0,0,1);
  transform-origin: center center 0px; 
  transition: all 0.5s ease 0s;
  -webkit-transform-origin: center center 0px; 
  -webkit-transition: all 0.5s ease 0s;
}
.product-column:hover img{
  opacity: 60%;
}
.product-ico{
  width: 140px;
  margin: 10px auto;
}
.product-name{
  font-size: 14px;
  font-weight: 500;
  color: #858585;
  width: 10em;
  height: 6em;
  margin-right: auto;
  margin-left: auto;
}
.product-price{
  align-items: flex-end;
  color: #ff0077;
  font-weight: bold;
}
.row{
  margin-top: 2em;
}
.product-more{
  width: 8em;
  margin-left: auto;
  margin-right: auto;
}
.button{
  background-color: #ff0077;
  color: #fff;
  font-weight: 400;
  height: 2em;
  margin-top: 2em;
  border: 1px solid #f07;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover{
  transform: scale(1.03);
  transform-origin: center center 0px; 
  transition: all 0.5s ease 0s;
  -webkit-transform-origin: center center 0px; 
  -webkit-transition: all 0.5s ease 0s; 
}
.button a{
  color: inherit;
  text-decoration: none;
}
footer{
  background-color: #f07;
  color: #fff;
  width: 100%;
  height: 400px;
}
.foot-logo svg{
  width: 15%;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.row-foot{
  display: inline-block;
  width: 100%;
}
.contact-foot{
  display: inline-block;
  width: 330px;
  margin-left: 100px;
}
.contact-foot p{
  font-weight: 600;
  font-size: 16px;
}
.contact-foot a{
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}
.desc-contact span{
  font-weight: lighter;
  width: 250px;
}
.time-foot{
  vertical-align: top;
  display: inline-block;
  width: 400px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
.desc-time span{
  margin-bottom: 0;
  font-weight: 100;
  width: 400px;
}
.follow-foot{
  vertical-align: top;
  display: inline-block;
  width: 300px;
  height: 20px;
  margin-left: 50px;
  text-align: right;
  font-weight: 600;
}
.ico-social{
  display: inline-block;
  margin: 0 0 0 10px;
  height: 30px;
  width: 30px;
}
.ico-social a{
  display: inline-block;
  width: 30px;
  vertical-align: top;
  margin: 0 0 30px;
  fill: #fff;
}
.ico-social:hover{
  transform: matrix3d(1.2,-0.26,0.00,0,0.26,1.164,0.00,0,0,0,1,0,0,0,0,1);
  transform-origin: center center 0px; 
  transition: all 0.5s ease 0s;
  -webkit-transform-origin: center center 0px; 
  -webkit-transition: all 0.5s ease 0s;  
}
.line-foot{
  background-color: #ffd8ea;
  opacity: 30%;
  margin: 50px 110px 0 100px;
  width: auto;
  height: 1px;
}
.copy{
  margin-top: 35px;
  font-weight:lighter;
  font-size: 14px;
  text-align: center;
}
#about{
  margin-bottom: 5em;
}
.img-about{
  display: inline-block;
}
.image-about{
  display: inline-block;
  width: 350px;
  height: auto;
  margin: 150px 0 0 100px;
}
.desc-about{
  display: inline-block;
  margin: 130px 0 0 30px;
  width: 700px;
  vertical-align: top;
}
.desc-about h2{
  color: #382c32;
  font-size: 32px;
}
.desc-about p{
  color: #382c32;
  font-size: 16px;
  font-weight: lighter;
  line-height: 25px;
}
.contact-button{
  width: 10em;
  background-color: #ff0077;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 2em;
  margin-top: 2em;
  border: 1px solid #f07;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-button a{
  color: inherit;
  text-decoration: none;
  width: 10em;
  text-align: center;
}
.contact-button:hover{
  transform: scale(1.03);
  transform-origin: center center 0px; 
  transition: all 0.5s ease 0s;
  -webkit-transform-origin: center center 0px; 
  -webkit-transition: all 0.5s ease 0s; 
}
.products-title{
  font-size: 32px;
  text-align: left;
  margin-top: 150px;
  margin-left: 100px;
  color: #1A2138;
}
#services{
  margin-top: 90px;
}
#products{
  margin-bottom: 5em;
}
#shower{
  height: 350px;
}
.shower-img{
  object-fit: cover;
  width: 500px;
  height: 350px;
}
.desc-shower{
  display: inline-block;
  width: 650px;
  vertical-align: top;
  margin: 0 0 0 30px;
}
.desc-shower h3{ 
  color: #ff0077;
  font-size: 24px;
  font-weight: 400
}
.desc-shower p:first-of-type{ 
  color: #353535;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.desc-shower p{ 
  color: #353535;
  opacity: 80%;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  width: 600px;
}
#medic{
  display: flex;
  background-color: #f07;
  height: 350px;
}
.medic-img{
  margin-left: auto;  
  object-fit: cover;
  width: 500px;
  height: 350px;
}
.desc-medic{
  display: inline-block;
  width: 650px;
  vertical-align: top;
  margin: 10px 0 0 150px;
  text-align: right;
}
.desc-medic h3{ 
  color: #fff;
  font-size: 24px;
  font-weight: 400
}
.desc-medic p:first-of-type{ 
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.desc-medic p{ 
  color: #fff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}
#drug{
  background-color: #0077ff;
  height: 350px;
}
.drug-img{
  object-fit: cover;
  width: 500px;
  height: 350px;
}
.desc-drug{
  display: inline-block;
  width: 650px;
  vertical-align: top;
  margin: 30px 0 0 30px;
}
.desc-drug h3{ 
  color: #fff;
  font-size: 24px;
  font-weight: 400
}
.desc-drug p:first-of-type{ 
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.desc-drug p{ 
  color: #fff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  width: 600px;
}
#delivery{
  background-color: #FF320D;
  display: flex;
  height: 350px;
}
.delivery-img{
  margin-left: auto;  
  object-fit: cover;
  width: 500px;
  height: 350px;
}
.desc-delivery{
  display: inline-block;
  width: 650px;
  vertical-align: top;
  margin: 50px 0 0 150px;
  text-align: right;
}
.desc-delivery h3{ 
  color: #fff;
  font-size: 24px;
  font-weight: 400
}
.desc-delivery p:first-of-type{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.desc-delivery p{ 
  color: #fff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}
#pick{
  background-color: #c10dff;
  height: 350px;
}
.pick-img{
  object-fit: cover;
  width: 500px;
  height: 350px;
}
.desc-pick{
  display: inline-block;
  width: 650px;
  vertical-align: top;
  margin: 50px 0 0 30px;
}
.desc-pick h3{ 
  color: #fff;
  font-size: 24px;
  font-weight: 400
}
.desc-pick p:first-of-type{ 
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.desc-pick p{ 
  color: #fff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  width: 600px;
}
#care{
  background-color: #6cf515;
  display: flex;
  height: 350px;
}
.care-img{
  margin-left: auto;
  object-fit: cover;
  width: 500px;
  height: 350px;
}
.desc-care{
  display: inline-block;
  width: 650px;
  vertical-align: top;
  margin: 30px 0 0 150px;
  text-align: right;
}
.desc-care h3{ 
  color: #fff;
  font-size: 24px;
  font-weight: 400
}
.desc-care p:first-of-type{ 
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.desc-care p{ 
  color: #fff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}
#hotel{
  background-color: #353535;
  height: 350px;
}
.hotel-img{
  object-fit: cover;
  width: 500px;
  height: 350px;
}
.desc-hotel{
  display: inline-block;
  width: 650px;
  vertical-align: top;
  margin: 50px 0 0 30px;
}
.desc-hotel h3{ 
  color: #fff;
  font-size: 24px;
  font-weight: 400
}
.desc-hotel p:first-of-type{ 
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.desc-hotel p{ 
  color: #fff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  width: 600px;
}
#talk{
  margin-bottom: 5em;
  width: 100%;
}
.inputs{
  display: inline-block;
  margin-left: 100px;
  width: 50%;
}
.input-name{
  color: #858585;
  font-size: 14px;
}
.form-item{
  width: 100%;
  min-height: 35px;
  margin-bottom: 20px;
  border: 1px solid #858585;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
}
.send-button{
  width: 7em;
  background-color: #ff0077;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  border: 1px solid #f07;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.send-button a{
  color: inherit;
  text-decoration: none;
  width: 10em;
  text-align: center;
}
.send-button:hover{
  transform: scale(1.03);
  transform-origin: center center 0px; 
  transition: all 0.5s ease 0s;
  -webkit-transform-origin: center center 0px; 
  -webkit-transition: all 0.5s ease 0s; 
}
.infos{
  width: 450px;
  display: inline-block;
  margin-left: 30px;
}
.info-item{
  font-size: 13px;
  font-weight: 600;
  color: #858585;
  margin-bottom: 0px;
}
.infos a{
  color: #f07;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.address{
  width: 450px;
  display: inline-block;
  color: #f07;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.infos iframe{
  width: 400px;
  height: 250px;
}



@media screen and (max-width :480px){
  body{
    margin: 0;
  }
  header {
    width: 100%;
    background-color: #fff;
    display: block;
    align-items: center;
    position: fixed;
    box-shadow: 0 0 40px #cecece;
    z-index: 2;
  }
  .brand{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pages{
    display: none;
  }
  .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner img{
    width: 100%;
  }
  #banner{
    width: 100%;
  }
  #our-services{
    margin-bottom: 50px;
  }
  .column {
    display:inline-block;
    font-size: 20px;
    padding: 0px;
    width: 80%;
    height: 300px;
    vertical-align: middle;
  }
  #description {
    width: 100%;
    height: 550px;
    background-color: #07f;
  }
  .desc-logo{
    width: 250px;
    height: 70px;
    margin: 50px 0 10px 50px;
  }
  .desc-text{
    width: 100%;
    color: #fff;
    margin: 0 0 0 0;
    font-size: large;
    line-height: 30px;
  }
  .desc-text p{
    margin: 0 50px 0 50px;
  }
  .product-name{
    font-size: 14px;
    font-weight: 500;
    color: #858585;
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }
  footer{
    background-color: #f07;
    color: #fff;
    width: 100%;
    height: 420px;
  }
  .time-foot{
    display: none;
  }
  .foot-logo {
    display: flex;
    width: 300px;
    height: 150px;
    margin: 0 auto 0 auto;
    justify-content:flex-end;
    box-sizing: border-box;
  }
  .foot-logo svg{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 0 0 auto;
  }
  .row-foot{
    width: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
    line-height: 25px;
  }
  .row-foot p{
    display: none;
  }
  .contact-foot{
    display: inline-block;
    width: 330px;
    margin-left: 0;
  }
  .contact-foot p{
    font-weight: 600;
    font-size: 16px;
  }
  .contact-foot a{
    color: inherit;
    text-decoration: none;
    font-weight: 600;
  }
  .desc-contact span{
    font-weight: lighter;
    width: 250px;
  }
  .follow-foot{
    vertical-align: top;
    width: 100%;
    height: auto;
    margin: 20px 0 30px 0;
    text-align:unset;
    font-weight: 600;
  }
  .social-icons{
    width: 100%;
    text-align: center;
  }
  .ico-social{
    display: inline-block;
    margin: 0 0 0 10px;
    height: 30px;
    width: 30px;
  }
  .ico-social a{
    display: inline-block;
    width: 30px;
    vertical-align: top;
    margin: 0 0 0 0;
    fill: #fff;
  }
  .ico-social:hover{
    transform: matrix3d(1.2,-0.26,0.00,0,0.26,1.164,0.00,0,0,0,1,0,0,0,0,1);
    transform-origin: center center 0px; 
    transition: all 0.5s ease 0s;
    -webkit-transform-origin: center center 0px; 
    -webkit-transition: all 0.5s ease 0s;  
  }
  .line-foot{
    background-color: #ffd8ea;
    opacity: 30%;
    margin: 0 0 0 0;
    width: 100%;
    height: 1px;
  }
  .copy{
    width: 350px;
    margin: 10px auto 0 auto;
    font-weight:lighter;
    font-size: 14px;
  }
  .copy span{
    font-weight:lighter;
    font-size: 14px;
    text-align: center;
  }
  .desc-about{
    display: inline-block;
    margin: 0 0 0 0;
    width: 100%;
    vertical-align: top;
  }
  .desc-about h2{
    margin: 20px 50px 0 50px;
  }
  .desc-about p{
    margin: 20px 50px 0 50px;
  }
  .image-about{
    display: inline-block;
    width: 100%;
    height: 300px;
    margin: 0 0 0 0;
    object-fit: cover;
  }
  .img-about{
    display:block;
    height: 300px;
    margin: 90px 0 50px 0;
  }
  .contact-button{
    margin-left: 50px;
  }
  .products-title{
    margin-left: 50px;
  }
  #shower{
    height: auto;
  }
  .shower-img{
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .desc-shower{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 10px 0 10px 0;
  }
  .desc-shower h3{ 
    color: #ff0077;
    font-size: 24px;
    font-weight: 400;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-shower  p:first-of-type{ 
    color: #353535;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-shower p{ 
    color: #353535;
    opacity: 80%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  #medic{
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #f07;
    height: auto;
    flex-direction: row-reverse;
  }
  .medic-img{
    display: block;
    margin-left: auto;  
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .desc-medic{
    display: block;
    width: 100%;
    margin: 10px 50px 0 50px;
    text-align: left;
  }
  .desc-medic h3{ 
    color: #fff;
    font-size: 24px;
    font-weight: 400;
  }
  .desc-medic p:first-of-type{ 
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
  .desc-medic p{ 
    color: #fff;
    opacity: 80%;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
  }
  #drug{
    background-color: #0077ff;
    height: auto;
  }
  .drug-img{
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .desc-drug{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 10px 0 10px 0;
  }
  .desc-drug h3{ 
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-drug p:first-of-type{ 
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-drug p{ 
    color: #fff;
    opacity: 80%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  #delivery{
    background-color: #FF320D;
    display: flex;
    flex-wrap: wrap-reverse;
    height: auto;
    flex-direction: row-reverse;
  }
  .delivery-img{
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .desc-delivery{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 10px 50px 10px 50px;
    text-align: left;
  }
  .desc-delivery h3{ 
    color: #fff;
    font-size: 24px;
    font-weight: 400;
  }
  .desc-delivery p:first-of-type{ 
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
  .desc-delivery p{ 
    color: #fff;
    opacity: 80%;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
  }
  #pick{
    background-color: #c10dff;
    height: auto;
  }
  .pick-img{
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .desc-pick{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 10px 0 10px 0;
  }
  .desc-pick h3{ 
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-pick p:first-of-type{ 
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-pick p{ 
    color: #fff;
    opacity: 80%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  #care{
    background-color: #6cf515;
    display: flex;
    flex-wrap: wrap-reverse;
    height: auto;
    flex-direction: row-reverse;
  }
  .care-img{
    margin-left: auto;
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .desc-care{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 10px 0 10px 0;
    text-align: left;
  }
  .desc-care h3{ 
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-care p:first-of-type{ 
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-care p{ 
    color: #fff;
    opacity: 80%;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  #hotel{
    background-color: #353535;
    height: auto;
  }
  .hotel-img{
    object-fit: cover;
    width: 100%;
    height: 350px;
  }
  .desc-hotel{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 10px 0 10px 0;
  }
  .desc-hotel h3{ 
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-hotel p:first-of-type{ 
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .desc-hotel p{ 
    color: #fff;
    opacity: 80%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  .inputs{
    display: block;
    align-items: center;
    margin: 0 50px 0 50px;
    width: auto;
  }
  .input-name{
    color: #858585;
    font-size: 18px;
  }
  .form-item{
    min-height: 50px;
    margin-bottom: 30px;
  }
  #message.form-item{
    height: 200px;
  }
  .send-button{
    width: 10em;
    font-size: 20px;
    height: 50px;
    margin-bottom: 50px;
  }
  .infos{
    width: auto;
    display: block;
    margin: 0 0 0 0;
  }
    .infos span{
    margin: 0 -50px 0 50px;
  }
  .infos a{
    margin: 0 50px 0 50px;
  }
  .info-item{
    font-size: 16px;
    font-weight: 600;
    color: #858585;
    margin-left: 50px;
  }
  .infos iframe{
    width: 100%;
    height: 15em;
  }
  .address{
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  .address a{
    margin-left: 0;
  }
}